
table{
    width: 100%;
    height: 100%;
    border-spacing: 0px 0px;
}

.container{
    position: absolute;
    width: 50vw;
    height: 40vw;
    left: 50%;
    transform: translate(-50%);
    top: 4rem;

}

.game{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    border: transparent;
}

.controller{
    position: absolute;
    width: 50vw;
    height: 5vw;
    left: 50%;
    top: 50vw;
    transform: translate(-50%);
}

.player1{
    background-image:url(board/red.svg);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    pointer-events: none;
}

.player2{
    background-image:url(board/yellow.svg);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    pointer-events: none;
}

.win{
    background-image:url(board/green.svg);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    pointer-events: none;
}

.board{
    background-image:url(board/boardpiece.svg);
    width: 14.285714286%;
    height: 14.285714286%;
    background-size: 100% 100%;
    border: 0px solid rgb(69, 89, 194);
    margin: 0px;
}

.finaltext{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.3);
    visibility: hidden;
    top: 8rem;
    left: 50%;
    transform: translate(-50%);
    width: 20%;
    height: 5%;
    z-index: 2;
}

.btn-reset {
    width: 100%;
    height: 100%;
}
.btn-control{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3px;
}